.dados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;

    .origem {
        width: 100%;
        margin: 0 1rem;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        border-radius: 5px;
        padding: 15px;

        h3 {
            color: white;
            background-color: grey;
            font-weight: bold;
            padding: 7px;
            margin-bottom: 1rem;
            border-radius: 5px 5px 0 0;
        }

        p {
            font-weight: bold;
        }

        .container-campos {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;

            .campo {
                margin-right: 10px;
                margin-bottom: 10px;
                width: 130px;

                input {
                    font-weight: bold;
                }
            }
        }

        .atis {
            width: 130px;
            margin-left: 15px;
        }

        input {
            font-weight: bold;
        }
    }

    .destino {
        width: 100%;
        margin: 0 1rem;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        border-radius: 5px;
        padding: 15px;

        h3 {
            color: white;
            background-color: grey;
            font-weight: bold;
            padding: 7px;
            margin-bottom: 1rem;
            border-radius: 5px 5px 0 0;
        }

        p {
            font-weight: bold;
        }

        .container-campos {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;

            .campo {
                margin-right: 10px;
                margin-bottom: 10px;
                width: 130px;

                input {
                    font-weight: bold;
                }
            }
        }
    }
}